// @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

//input eye password
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

html {
  scroll-behavior: smooth;
  height: 100vh;
  overflow: hidden;
  // font-size: 105%;
}
body {
  background-color: white;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dddde2 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #dddde2 !important;
  border-radius: 40px !important;
}

.tippy-tooltip {
  border-radius: 6px;
  background-color: #555f6d;
}
.tippy-tooltip-content {
  font-size: 12px;
  font-weight: 500;
}
.tippy-popper[x-placement^='bottom'] [x-arrow] {
  border-bottom: 7px solid #555f6d !important;
}
.tippy-popper[x-placement^='top'] [x-arrow] {
  border-top: 7px solid #555f6d !important;
}

.react-datepicker {
  width: max-content;
}
// body::-webkit-scrollbar {
//     width: 4px;
// }

// body::-webkit-scrollbar-track {
//     background: #f1f1f1;
// }

// body::-webkit-scrollbar-thumb {
//     background: #bfdbfe;
//     border-radius: 5px;
// }

// body::-webkit-scrollbar-thumb:hover {
//     background: #93c5fd;
// }

.simplebar-content {
  height: 100%;
  position: relative;
}

/* Ngăn focus trên toàn bộ SimpleBar */
.simplebar-scrollbar:focus,
.simplebar-track:focus,
.simplebar-content-wrapper:focus,
.simplebar-content:focus,
.simplebar-offset:focus,
.simplebar-mask:focus {
  outline: none !important;
  box-shadow: none !important;
}

// @layer utilities {
//   .hide-scrollbar .simplebar-track {
//     display: none !important;
//   }

//   @keyframes dropdown-enter {
//     0% {
//       opacity: 0;
//       transform: scaleY(0.9);
//     }
//     100% {
//       opacity: 1;
//       transform: scaleY(1);
//     }
//   }

//   .animate-dropdown-enter {
//     animation: dropdown-enter 0.3s ease-out forwards;
//   }

//   .animate-slide-down-enter {
//     animation: slide-down-enter 0.3s ease-out;
//   }

//   @keyframes slide-down-enter {
//     0% {
//       opacity: 0;
//       transform: translateY(-100%);
//     }
//     100% {
//       opacity: 1;
//       transform: translateY(0);
//     }
//   }
// }

/// cuộn dọc
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  background-color: #94a3b8;
  // background-color: #94a3b8;
}
.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  // background-image: linear-gradient(yellow, red);
}
.simplebar-track {
  opacity: 1;
}

.simplebar-track.simplebar-vertical {
  width: 9px;
}
.simplebar-track.simplebar-horizontal {
  height: 9px;
}

// .simplebar-mask {
//     z-index: 1;
// }
/// cuộn ngang
///
.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  background-color: #94a3b8;
  // background-color: #94a3b8;
}
.no-select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.popup-overlay.popup-updated-version-overlay {
  .popup-content {
    width: inherit;
    padding: inherit;
    border-radius: 8px;
    -webkit-animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    top: 0px;
  }
}

//Popup
.popup-edit-overlay {
  .popup-content {
    width: inherit;
    padding: inherit;
    border-radius: 8px;
    -webkit-animation: anvil 0.1s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
    // top: -120px;
  }
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {
  background: transparent;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }

  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.custom-transition {
  @apply duration-300 ease-in-out transition-all;
}

.popover-edit-content {
  margin: 24px 0px 0px 0px !important;
  width: inherit !important;
  border: none !important;
  // box-shadow: 0 0 5px rgb(0 0 0 / 16%) !important;
  // box-shadow: 0px 4px 40px rgba(47, 65, 110, 0.12) !important;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  position: fixed !important;
  top: 38px !important;
}
.react-datepicker-popper {
  z-index: 999 !important;
}

.popover-bottom-left-content {
  margin: 24px 0px 0px -20px !important;
}

.popover-bottom-left-muanhaphang-content {
  margin: 24px 0px 0px -220px !important;
}

.popover-khosanxuat-content {
  margin: 24px 0px 0px 40px !important;
}

.popover-khac-content {
  margin: 24px 0px 0px 0px !important;
}

.popover-quytrinh-content {
  margin: 24px 0px 0px 25px !important;
}
.popover-thongbao-content {
  margin: 24px 0px 0px 30px !important;
}

.dropdown-edit-content {
  margin: 5px 0px 0px 15px !important;
  width: inherit !important;
  border: none !important;
  box-shadow: 0px 4px 40px rgba(47, 65, 110, 0.12) !important;
  -webkit-animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}

// arrow tooltip
.arrow-danhmuc-arrow {
  position: relative !important;
  left: 21px;
}

.arrow-banxuathang-arrow {
  position: relative !important;
  left: 19px;
}

.arrow-muanhaphang-arrow {
  position: relative !important;
  left: 220px;
}

.popover-khosanxuat-arrow {
  position: relative !important;
  left: -43px;
}

.popover-khac-arrow {
  position: relative !important;
  left: 0px;
}

.popover-quytrinh-arrow {
  position: relative !important;
  left: -20px;
}
.popover-thongbao-arrow {
  position: relative !important;
  left: -28px;
}

// .popover-productionPlan-arrow {
//     position: relative !important;
//     left: 50%;
//     transform: translateX(-50%);
//     // color: gray;
// }
.popover-ai-content {
  transform: translateX(-2%);
  z-index: 99999 !important;
}

//scroll bar
.scrollarea .scrollbar-container.vertical .scrollbar {
  background: #94a3b8 !important;
  border-radius: 50px;
}

.scrollarea .scrollbar-container.active,
.scrollarea .scrollbar-container:hover {
  background: #f1f5f9 !important;
  border-radius: 50px !important;
}

//button animation
.btn-animation {
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* Animation hiệu ứng viền chạy */

.border-gradient {
  --border-width: 1px;
  --border-width-hover: 2px;
}

.border-gradient-button-foso {
  --border-color: rgba(9, 9, 11, 0.2);
  --border-width: 1px;
  --border-width-hover: 2px;
  position: relative;
  border: none; /* Đảm bảo không có border mặc định */

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;
    background: radial-gradient(50% 93.75% at 50% 6.25%, #a3eed6 0%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: 1;

    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    -webkit-mask-composite: xor; /* hoặc destination-out */
    transition: background 0.5s ease-in-out;
  }

  &:hover::before {
    background: conic-gradient(from var(--angle), #a3eed6, rgba(255, 255, 255, 0), #a3eed6);
    padding: 2px;
    animation: borderMove 1.5s linear infinite;
  }
}

@keyframes borderMove {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

//alert
// .swal2-popup.swal2-toast {
//   .swal2-html-container {
//     font-size: 14px !important;
//     margin: 0em 1em !important;
//   }
// }

/// .Select__single-value,
.Select__custom .Select__single-value {
  white-space: initial !important;
  overflow: visible !important;
  text-overflow: ellipsis !important;
  display: block;
}

.removeDivide .css-1u9des2-indicatorSeparator {
  width: 0px;
}
.transition-all.ease-out.duration-300.absolute.z-10 {
  bottom: 0 !important;
  transform: translateY(100%) !important;
  z-index: 999;
}

/// model img Chi tiet YCMH

// .custom-modal-image .__react_modal_image__modal_container {
// 	width: 100vw;
// 	height: 100vh;
// 	left: -43%;
//   }

// .custom-modal-image .__react_modal_image__modal_content {
// 	/* styles for modal content */
//   }

.i::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  opacity: 20%;
  background: white;
  /*   background: #3B82F6; */
  /* Centering */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.i:hover:before {
  animation: anim-in 0.7s forwards ease-out;
}

@keyframes anim-in {
  100% {
    opacity: 0%;
    border-radius: 0;
    width: 600px;
    height: 600px;
  }
  0% {
    width: 0px;
    height: 0px;
    border-radius: 100%;
    opacity: 20%;
  }
}

.css-1wrc81n-control,
.css-nrfwoj-control {
  cursor: pointer !important;
}
.css-13cymwt-control {
  cursor: pointer !important;
}
.customDropdow__indicator {
  padding: 15px 0px !important;
}
.customDropdow__control {
  cursor: pointer !important;
}
.customDropdowTax__indicator {
  padding: 0px 0px !important;
}
.customDropdowDefault__control {
  border: none !important;
  padding: 0;
}
.customDropdowDefault__indicator {
  padding: 0px 0px !important;
}
.CircularProgressbar {
  width: 80px;
}
.classNamePrefixLotDateSerial__value-container
  .classNamePrefixLotDateSerial__multi-value
  .classNamePrefixLotDateSerial__multi-value__label
  div {
  display: none;
}
// .classNamePrefixLotDateSerial__value-container .customDropdow  {
//     display: none;
// }
/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
  width: 50%;
  vertical-align: middle;
  margin: 0 auto;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}
.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-custom {
  animation: bounce 1s infinite;
}
.columns {
  display: flex;
}

.draggable {
  user-select: none;
  padding: 8px;
  margin: 0 0 8px 0;
  background-color: #ccc;
  border-radius: 2px;
}
// Trong tổng quan sản xuất/

.customSlectFilter__control {
  outline: none !important;
  border: none !important;
  background-color: #f9fafb !important;
  border-radius: 8px !important;
}
.customSlectFilter__placeholder {
  font-size: 11px !important;
  color: #6b7280 !important;
}
.customSlectFilter__input-container {
  padding: 8px 5px !important;
  // font-size: 10px !important;
}
.customSlectFilter__indicator svg {
  width: 12px !important;
  height: 12px !important;
}
.customSlectFilter__indicator-separator {
  display: none;
}
.customSlectFilter__single-value {
  font-size: 14px;
}
.customSlectFilter__menu {
  border-radius: 12px !important;
  box-shadow: none !important;
  border: 1px solid #9ca3af !important;
}
.customSlectFilter__menu-list {
  padding: 0 !important;
  border-radius: 12px !important;
}
.customSlectFilter__option {
  font-size: 13px !important;
  color: #4b5563 !important;
  background-color: #f1f5f9 !important;
  transition: all 0.5s ease-in-out !important;
}
.customSlectFilter__option--is-selected {
  background-color: #6b7280 !important;
  color: white !important;
}
.customSlectFilter__option:hover {
  transition: all 0.5s ease-in-out !important;
  color: white !important;
  background-color: #6b7280 !important;
}
.react-datepicker__close-icon::after {
  color: gray !important;
  background-color: transparent !important;
}
.react-datepicker-wrapper {
  width: 100% !important;
}

/// select trong model  Điều độ sản xuất productionSmoothing
.productionSmoothing__menu {
  z-index: 9999 !important;
  position: absolute !important;
}
.productionSmoothing__control {
  position: relative !important;
  z-index: 0 !important;
  border: 1px solid #d8dae5 !important;
  border-radius: 6px !important;
}
.productionSmoothing__indicator-separator {
  display: none !important;
}
.productionSmoothing__indicator svg {
  width: 15px !important;
  height: 15px !important;
}

.productionSmoothing__placeholder {
  @apply text-sm   font-light;
}
/// select trong model  Điều độ sản xuất productionSmoothing popup

///lịch

#menu-time {
  z-index: 9999;
}

//nhân viên
.productionSmoothingPopupStaf__control {
  border: 1px solid #e1e1e1 !important;
  border-radius: 9px !important;
  padding: 3px 0 !important;
}
.productionSmoothingPopupStaf__indicator-separator {
  display: none !important;
}
.productionSmoothingPopupStaf__indicator svg {
  width: 20px !important;
  height: 20px !important;
}
.productionSmoothingPopupStaf__placeholder {
  font-size: 12px !important;
  color: #6b7280 !important;
}
// .productionSmoothingPopupStaf__input-container {
//     padding: 4px !important;
// }
// .productionSmoothingPopupStaf__multi-value {
//     background-color: transparent !important;
// }
// .productionSmoothingPopupStaf__multi-value__remove {
//     left: 0 !important;
//     transform: translate(-150%, 0);
//     background-color: transparent !important;
// }
// .productionSmoothingPopupStaf__multi-value__remove svg {
//     color: #1556d9 !important;
// }

///công đoạn
.productionSmoothingPopupStages__control {
  border: 1px solid #e1e1e1 !important;
  border-radius: 9px !important;
  padding: 3px 0 !important;
}
.productionSmoothingPopupStages__indicator-separator {
  display: none !important;
}
.productionSmoothingPopupStages__indicator svg {
  width: 20px !important;
  height: 20px !important;
}
.productionSmoothingPopupStages__placeholder {
  font-size: 12px !important;
  color: #6b7280 !important;
}

.clip-arrow {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 15% 50%, 0% 0%);
}
/// css phân trang
.disabled-page {
  color: #808e9b;
}

.page-item.active a {
  color: #11315b;
  background-color: #e2f0fe;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 600;
}
.page-item a {
  // background-color: #e2e8f0;
  color: #667085;
  padding: 8px 14px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 400;
  transition: all 0.2s ease-in-out;
  display: block;
}
.page-item a:hover {
  background-color: #e3e3e3;
}

.pagination {
  align-items: center;
  display: flex;
  gap: 4px;
}

/* custom-datepicker.css */
.react-datepicker__input-container {
  @apply relative;

  .react-datepicker__close-icon::after {
    background-color: transparent !important;
    color: transparent !important;
    content: url('/icon/new/X.svg') !important;

    // vertical-align: middle;
    @apply size-4 absolute top-1/2 -translate-y-1/2 right-2 cursor-pointer;
  }
}

.text-customize {
  .text-title-section {
    @apply 3xl:text-[28px] xl:text-2xl text-xl;
  }

  .text-title-default {
    @apply 3xl:text-2xl xl:text-xl text-xl;
  }

  .text-title-small {
    @apply 3xl:text-xl xl:text-lg text-lg;
  }

  .text-base-default {
    @apply 3xl:text-base xl:text-sm lg:text-sm text-base 3xl:placeholder:text-base placeholder:text-sm tracking-[1%];
  }

  .text-sm-default {
    @apply 3xl:text-sm xl:text-xs lg:text-xs text-xs 3xl:placeholder:text-sm placeholder:text-xs tracking-[1%];
  }

  .text-xs-default {
    @apply 3xl:text-xs xl:text-[10px] lg:text-[10px] text-[10px] 3xl:placeholder:text-xs placeholder:text-[10px] tracking-[1%];
  }
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.image-gallery-image {
  @apply max-h-[600px];
}

.image-gallery-thumbnails-container {
  @apply absolute bottom-10 mx-auto w-full;

  .image-gallery-thumbnail {
    @apply w-auto h-auto;
  }
  .image-gallery-thumbnail-image {
    @apply max-h-[150px] w-auto;
  }
}

.custom-toast-popup {
  background-color: #d3fcd2 !important; /* xanh đậm */
  color: white !important;
  // border: none !important; /* xanh lá mỏng */
  border-radius: 10px !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.custom-toast-popup-success {
  background-color: #d3fcd2 !important; /* xanh đậm */
}
.custom-toast-popup-error {
  background-color: #ffe9d5 !important; /* xanh đậm */
}

.custom-toast-title-success {
  color: #065e49 !important;
}

.custom-toast-title-error {
  color: #7a0916 !important;
}

.custom-toast-title {
  font-weight: 600;
  font-size: 16px;
  margin-left: 1px;
}

.custom-toast-icon {
  margin: 0;
}
.custom-check-icon-success {
  background-color: #4caf50;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.custom-check-icon-error {
  background-color: #ff5630;
  color: white;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding-bottom: 2px;
}

.swal2-success {
  border-color: transparent !important;
}

.swal2-success-ring {
  display: none !important;
}
.swal2-error {
  border-color: transparent !important;
}

.swal2-error-ring {
  display: none !important;
}

.swal2-success-line-tip,
.swal2-success-line-long {
  background-color: white !important; /* Hoặc màu bạn thích */
}

.swal2-error-line-tip,
.swal2-error-line-long {
  background-color: white !important; /* Hoặc màu bạn thích */
}
.swal2-popup.swal2-toast,
.swal2-title {
  margin: 0px;
}

.swal2-popup.swal2-toast .swal2-title {
  margin: 0.5em 0px !important;
}

.swal2-popup,
.swal2-toast {
  padding: 4px 8px !important;
}

.custom-toast-close-button-success {
  color: #065e49 !important;
}

.custom-toast-close-button-error {
  color: #7a0916 !important;
}
.custom-toast-close-button {
  font-size: 20 !important;
  font-weight: 200 !important;
}

// .swal2-popup.swal2-toast .swal2-close {
//   font-size: 20 !important;
//   font-weight: 200 !important;
// }

.swal2-popup,
.swal2-toast,
.swal2-icon {
  margin: 0px !important;
}
.swal2-toast-shown .swal2-container.swal2-top {
  top: 70px !important;
}

//carousel
.swiper {
  width: 100%;
  height: 100%;
}

.custom-dot {
  @apply w-2 h-2 bg-[#DDDDE2] rounded-full transition-all duration-300;
  display: inline-block;
}

.swiper-pagination-bullet-active.custom-dot {
  @apply w-6 bg-[#1FC583] rounded-full;
}

.popup-custom-recommend {
  padding: 8px !important;
  border-radius: 16px !important;
}

// Search bar trong component form sales-export-product
.input-searchbar {
  font-family: 'Lexend Deca', 'sans-serif';
  font-size: 14px;
  outline-offset: 0px;
  outline: none;
  border: 1px solid;
}

.input-searchbar:hover {
  border: 1px solid #003da0;
}

.sale-order-btn-submit {
  background: #0375f3 !important;
}

.sale-order-btn-submit:hover {
  color: #ffff !important;
  border-color: #4096ff !important;
  background: #003da0 !important;
}

.sales-product-date {
  height: 42px;
}

.select-with-sort,
.sales-product-date,
.select-with-radio {
  width: 100%;
  border-radius: 8px;
  .ant-select {
    .ant-select-selection-item {
      white-space: normal;
      line-height: 22px;
    }
  }
}

.select-with-sort,
.select-with-radio {
  .ant-select-single {
    height: auto;
    min-height: 42px;
  }
}

.select-custom-label,
.select-tax {
  .ant-select-single {
    display: flex;
    align-items: center;
  }
}

.select-custom-label {
  .ant-select-single,
  .ant-select-selector {
    height: auto;
    min-height: 40px;
  }
  @media screen and (max-width: 1535px) {
    .ant-select-single,
    .ant-select-selector {
      min-height: 32px;
    }
  }
}

.select-tax {
  .ant-select-single,
  .ant-select-selector {
    height: auto;
    min-height: 36px;
  }
}

.select-with-radio,
.select-with-sort,
.select-custom-label {
  .ant-select-selector {
    border-radius: 8px;
    border: 1px solid #D0D5DD !important;
  }

  .ant-select-selector .ant-select-selection-wrap .ant-select-selection-search input {
    cursor: pointer;
  }

  .ant-select-selector:hover {
    border-color: #003da0 !important;
    border-radius: 8px;
  }

  .ant-select-selector:focus {
    border-color: #003da0 !important;
  }

  .ant-select-selector:focus-visible {
    border-color: #003da0 !important;
  }

  .ant-select-selection-placeholder {
    color: #919eab;
    font-weight: 400;
    font-family: 'Lexend Deca';
  }

  .ant-select-dropdown .ant-select-item {
    padding: 5px 6px !important;
  }

  .ant-select-focused .ant-select-selector {
    border-color: #003da0 !important;
  }

  .option-content:last-child {
    border-bottom: none;
  }
}

.date-form,
.select-with-sort,
.select-with-radio {
  .ant-select-single .ant-select-selector .ant-select-selection-item,
  .ant-picker .ant-picker-input > input {
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1439px) {
  .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    padding: 0 9px;
  }
  .date-form,
  .select-with-sort,
  .select-with-radio {
    .ant-select-single .ant-select-selector .ant-select-selection-item,
    .ant-picker .ant-picker-input > input {
      font-size: 13px;
      line-height: 20px;
    }
  }
}

.select-with-sort,
.select-with-radio {
  .ant-select-selection-wrap {
    margin-left: 24px !important;
    margin: auto 0;
  }
}

.ant-picker-outlined:hover {
  border-color: #003da0 !important;
}

.ant-picker-outlined:focus,
.ant-picker-outlined:focus-within {
  border-color: #003da0 !important;
}

.ant-picker .ant-picker-input input::placeholder {
  color: #919eab;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Lexend Deca';
}

.select-by-search {
  font-family: 'Lexend Deca', 'sans-serif';
  font-size: 14px;
  outline-offset: 0px;
  outline: none;
}

.select-by-search .ant-select-selector {
  border-radius: 8px;
}

.select-by-search .ant-select-selector:hover {
  border-color: #003da0 !important;
}

.select-by-search .ant-select-selector:focus,
.select-by-search .ant-select-selector:focus-within {
  border: 2px solid;
  border-color: #003da0 !important;
}

.ant-select-selector {
  font-size: revert !important;
}
.select-by-search .ant-select-clear {
  margin-right: 60px;
  font-size: 14px;
}

.price-input-number {
  margin: 0 10px;
}

.price-input-number .ant-input-number .ant-input-number-input-wrap input {
  text-align: end;
  color: #141522;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Lexend Deca';
}

.price-input-number .ant-input-number-suffix {
  font-size: 14px;
  font-weight: 700;
}

.ant-input-number-outlined:hover {
  border-color: #003da0 !important;
}

.ant-input-number-outlined:focus {
  border-color: #003da0 !important;
}

.react-select-2-placeholder {
  font-size: 10px;
}

/* scroll-bar-products-sale */
.scroll-bar-products-sale {
  scrollbar-width: thin; /* Dành cho Firefox */
  scrollbar-color: #e1e7ef transparent; /* Thumb và track */
}

/* Scrollbar cho Chrome/Edge/Safari */
.scroll-bar-products-sale::-webkit-scrollbar {
  width: 10px; /* Chiều rộng thanh cuộn */
  height: 10px; /* Chiều cao (nếu cuộn ngang) */
}

/* Thumb (thanh kéo) */
.scroll-bar-products-sale::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* Màu chính */
  border-radius: 10px;
  border: 2px solid transparent; /* Tạo viền trong suốt */
  background-clip: content-box; /* Giới hạn màu trong phần content */
  transition: background-color 0.3s; /* Hiệu ứng mượt khi hover */
}

/* Thumb khi hover */
.scroll-bar-products-sale::-webkit-scrollbar-thumb:hover {
  background-color: #64748b; /* Màu đậm hơn khi di chuột qua */
  border: 2px solid #f1f5f9; /* Thêm viền trắng để nổi bật */
}

/* Track (nền thanh cuộn) */
.scroll-bar-products-sale::-webkit-scrollbar-track {
  background: transparent; /* Trong suốt */
  margin: 4px 0; /* Tạo khoảng trống xung quanh */
}

/* Corner (góc giữa scrollbar dọc và ngang) */
.scroll-bar-products-sale::-webkit-scrollbar-corner {
  background: transparent; /* Ẩn góc */
}

// Apply font family to all antd
[class^='ant-'],
[class*=' ant-'],
.css-xxx * {
  font-family: 'Lexend Deca', sans-serif !important;
}

// Apply font family to all react-select components
.customDropdowTax__control,
.customDropdowTax__menu,
.customDropdowTax__option,
.customDropdowTax__single-value {
  font-family: 'Lexend Deca', sans-serif;
}
// react-select components
.css-1ouq9ig-control:hover {
  border-color: #003da0 !important;
}

.ant-picker-ok {
  .ant-btn {
    margin-block: 8px;
    padding: 18px 12px;
    border-radius: 8px;
    span {
      display: none;
    }
    &::before {
      content: 'Hoàn thành';
      font-size: 14px;
    }
  }
}

.ant-select-dropdown {
  .ant-select-item-option-content {
    white-space: normal;
  }
}

.custom-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: transparent !important;
  color: inherit !important;
  font-weight: normal !important;
}

/* Màu xám khi hover */
.custom-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #f5f5f5 !important;
}

// .ant-select-dropdown .ant-select-item-option-selected {
//   background-color: transparent !important;
//   color: inherit !important;
// }

.ant-select-item-option-content {
  background-color: transparent !important;
  padding: 0 !important;

}
.ant-select-item-option.ant-custom.ant-select-item-option-active, 
.ant-select-item.ant-select-item-option.ant-custom {
  padding: 0 !important;  
}
// .ant-select-item-option-active {
//   // padding: 0 !important;  
// }
// .ant-select-item {
//   // padding: 0 !important;
// }
/* Màu xám khi hover */
// .ant-select-dropdown .ant-select-item:hover {
//   background-color: transparent !important;
// }

// /* Màu xám khi hover */
// .ant-select-dropdown .ant-select-item-option-active {
//   background-color: transparent !important;
// }

// /* Loại bỏ màu nền xanh cho option được chọn trong dropdown */
// .select-with-radio .ant-select-dropdown .ant-select-item-option-selected {
//   background-color: transparent !important;
// }


/* date picker */

/* Loại bỏ đường gạch border-b dưới các thứ trong tuần của datepicker */
.react-datepicker__day-names {
  grid-template-columns: repeat(7, 1fr);
  border-bottom: none !important;
}

.react-datepicker__day-name {
  border-bottom: none !important;
}

/* Loại bỏ border-b cho grid grid-cols-7 border-b border-gray-300 dark:border-gray-700 py-2 */
.grid.grid-cols-7.border-b.border-gray-300,
.grid.grid-cols-7.border-b.border-gray-700 {
  border-bottom: none !important;
}

/* Làm cho thứ đầu tiên (CN) có màu đỏ */
.grid.grid-cols-7 div:first-child {
  color: #ff0000 !important;
}

/* Làm cho các ngày chủ nhật trong tháng có màu đỏ */
.grid.grid-cols-7.gap-y-0\.5.my-1 button:nth-child(7n+1):not(.text-gray-400) {
  color: #ff0000 !important;
}

/* Ghi đè màu text thành #344054 */
.whitespace-nowrap.w-1\/2.md\:w-1\/3.lg\:w-auto.transition-all.duration-300.hover\:bg-gray-100.dark\:hover\:bg-white\/10.p-2.rounded.cursor-pointer.text-blue-600.dark\:text-blue-400.dark\:hover\:text-blue-400.hover\:text-blue-700 {
  color: #344054 !important;
}

/* Áp dụng box-shadow */
.mt-2\.5.shadow-sm.border.border-gray-300.px-1.py-0\.5.bg-white.dark\:bg-slate-800.dark\:text-white.dark\:border-slate-600.rounded-lg {
  box-shadow: 0px 8px 16px -2px #1B242C1F, 0px 2px 2px -1px #1B232C0A !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Single row tags styles */
// .single-row-tags {
//   .ant-select-selector {
//     height: auto !important;
//     padding-right: 30px !important;
//   }
  
//   .ant-select-selection-overflow {
//     flex-wrap: nowrap !important;
//     overflow-x: auto !important;
//     scrollbar-width: none !important; /* Firefox */
//     -ms-overflow-style: none !important; /* IE and Edge */
//   }
  
//   .ant-select-selection-overflow::-webkit-scrollbar {
//     display: none !important; /* Chrome, Safari, Opera */
//   }
  
//   .ant-select-selection-overflow-item {
//     flex: none !important;
//   }
// }

/* Grouped Table Headers */
.grouped-header-table {
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
  
  /* Ensure equal distribution of sub-columns within groups */
  .sub-column-group {
    display: flex;
    
    > * {
      flex: 1;
      min-width: 0;
    }
  }
}